cohere==5.3.3
langchain_cohere==0.1.4
langchain_community==0.0.34
langchain_core==0.1.45
langchain_openai==0.1.3
numpy==1.26.4
openai==1.23.5
pinecone==0.1.0
sentence_transformers==2.6.1
streamlit==1.31.1
