numpy
spacy
pypdf
streamlit
pinecone-client
sentence_transformers

cohere
openai

langchain
langchain_core
langchain_openai
langchain_cohere
langchain_community
langchain_experimental
langchain_text_splitters

ragas
plotly
